### It is considered a best practice to begin your Jupyter Notebook with informative text written using a Markdown cell that describes the purpose of the code within the notebook. This will help you remember what your goal of the notebook is and will help any user of your code become oriented to your notebook.

### It is also always a good practice to describe the author of the notebook and your contact information.

__Author__: Dr. Beadling. For any questions regarding the contents of this notebook please contact rebecca.beadling@temple.edu.

***

> #### Markdown is a lightweight markup language that you can use to add __formatting elements__ to plaintext. You can add edit text to add headings, subheadings, edit fontstyle, fontsize, add urls, add symbols, add images, indentation, bullet points, numbering,  etc.

> # This is a heading!
And this is some text.
>## And this is a subheading
with a bulleted list in it:
>
> - one
> - two
> - three

> #### Something really neat that you can do is embed graphics within your cells, if you want to add a diagram for example to describe what it is your computing.
> #### You can find a cheatsheet here for formatting Markdown in your Jupyter Notebook Markdown cells here: https://www.ibm.com/docs/en/watson-studio-local/1.2.3?topic=notebooks-markdown-jupyter-cheatsheet. 
> #### And another guide here emphasizing best practices: https://www.markdownguide.org/basic-syntax.
> Use these two resources as a guide throughout the course as your begin to put together your notebooks.

### <span style="color:red"> In the cell below, change the cell type to Markdown and write text that describes your prior coding experience (if any) and note that this will be your first Jupyter notebook and describe the purpose of it (which is to introduce elements of a Jupyter notebook and fundamentals of Python). Experiment with different headings and subheadings, how to bold text, how to italicize, and even take a stab at embedding an image. Run the cell to generate the formatted markdown!</span>.

### After your descriptive introductory text, the next cell is usually where you find your "import" statements. Python itself comes with a limited number of built-in functions (https://docs.python.org/3/library/functions.html), such as:
* `print()` : prints expressions out
* `abs()` :  returns the absolute value of a number
* `int()` :  converts another data type to an integer
* `len()`: returns the length of a sequence or collection

### To be able to perform advanced computations and produce sophisticated code and data visualizations, one must import specific Python _modules_, _packages_, or _libraries_ designed for specific tasks. 

### In the cell below, we import the Numerical Python library (NumPy) and assign it an __alias__ of np. The point of assigning aliases is so we do not have to type the entire package name each time we want to call a function from it within our code (this will become more clear later on).

In [1]:
# anything within a code cell preceeded by a '#' is considered a "comment" and thus is not executed.
# import the entire numpy library, giving it the alias 'np'
import numpy as np

# import the matplotlib library for plotting, giving it the alias 'plt'
import matplotlib.pyplot as plt

### After your import statements, you will want to set up some settings within your notebook. The statements in the cell below preceeded by the % sign are referred to as 'magic functions'. You do not need to know the details of these now besides the following:
>`%matplotlib inline`:  the output of plotting commands is displayed inline, directly below the code cell that produced it. The resulting plots will then also be stored in the notebook document.
>`%config InlineBackend.figure_format='retina'`: to render higher resolution images [more details can be found here: https://ryanwingate.com/visualization/matplotlib/inline-backend-on-retina-displays/]
> `plt.rcParams['figure.figsize'] = 12,6`: sets the default figure size to 12 x 6

In [2]:
%matplotlib inline                           
%config InlineBackend.figure_format='retina' 
plt.rcParams['figure.figsize'] = 12,6

### Our very first Python program can be a single line using the built-in `print` function:

In [3]:
print("Hello World!") ## the print function prints out the expression inside of the ( ).
print(2+4)

Hello World!
6

<span style="color:red">__STUDENTS__: Change the (2+4) in the second line above to ("2+4"). How does the output change? _Why?_</span>

### Congrats, you've written your first Python program!! We can also use Python to do some basic math for us:

In [4]:
2 + 2 # addition

4

In [5]:
4 ** 2 # exponentiation: 4 squared.
2 ** 7 # exponentiation: 2 to the power of 7.

128

In [6]:
17 / 3 # classic division, always returns a float (see more below)

5.666666666666667

In [7]:
17 // 3 # floor division discards the fractional part

5

In [8]:
17 % 3 # the % operator returns the remainder of the division

2

In [9]:


(0.5) * (0.5) # multiplicaton

0.25

In [10]:
4 - 5 # subtraction

-1

In [11]:
# rounding
round(9 / 10)

1

In [12]:
# scientific notation
4e7

40000000.0

In [43]:
# logic --- NEED TO EXPAND ON THIS!!!
True and True

True

### There are several __data types or classes__ that can exist within Python
* Integers (`int`): numerical data __without__ a decimal place, i.e., a whole number.
* Floating-point (`float`): numerical  data __with__ a decimal place or represented in scientific notation.
* Character strings (`str`): character data denoted by either single quotes '' or double quotes " ".
* A `list`: an ordered container of objects (can be any type of object) denoted by square brackets [ ].
* A dictionary (`dict`): a collection of __labeled__ objects. Python uses curly braces { } to create dictionaries.

### <span style="color:red"> Which of the outputs generated in the cells above are __ints vs. floats__ ? 
### <span style="color:red"> What happens if you have an equation with mixed integers and floats? 
### <span style="color:red"> Note that classic division __always__ returns a floating point number regardless of inputs. </span>

#### <span style="color:red"> Put your answers to the questions in the cell below:

### The equal sign (`=`) is used to assign a value to a variable:

In [14]:
a = 12        # assign 12 to variable a
b = 8         # assign 8 to variable b
print(a + b)  # print the result of a + b

20

In [15]:
# assign string Dr.Beadling to variable name
name = "Dr. Beadling" ### remember this also could have been written in single quotes: name = 'Dr. Beadling'
print(name) # print value of variable name

Dr. Beadling

In [16]:
width = 20            # assign 20 to variable width
height = 5 * 9        # assign the result of 5 * 9 to variable height
print(width * height) # print value of (width * height)

900

### Your notebook will remember your previously defined variables in other cells, so you can use them in later computations.

In [17]:
print(a,b,name,width,height)

12 8 Dr. Beadling 20 45

### If you want to know which data type an object is, we can use Python's `type` function:

In [18]:
print(type("Dr. Beadling"))

<class 'str'>

In [19]:
print(type(name))

<class 'str'>

In [20]:
print(type(a))

<class 'int'>

### More on `list` data types

In [21]:
mylist1 = [0, 1, 1, 2, 3, 5, 8]
mylist1 # you could have also put print(mylist) and it would have shown the same thing

[0, 1, 1, 2, 3, 5, 8]

In [22]:
mylist2 = [2, 11, 23, 5, 10, 5, 0]
mylist2

[2, 11, 23, 5, 10, 5, 0]

In [76]:
print(type(mylist1))

<class 'list'>

### Lists can contain __any type__ of objects

In [23]:
mylist3 = [(2 ** 2), "orange", a, 5.0, "yellow", 5, 0]
mylist3

[4, 'orange', 12, 5.0, 'yellow', 5, 0]

### <span style="color:red"> Identify what __data types__ each of the object in the list above are. Put your answers as markdown in the cell below.

## How do we access data stored within a list?

### In Python, each __element__ within a list is assigned a specific __index__. An index is a unique integer value that represents an element's position within a list. __Indexing__ refers to the process of accessing the element.
 
### __IMPORTANT__: Indexing in Python starts at 0, which means that the first element in a sequence has an index of 0, the second element has an index of 1, and so on. Consider the following example below:

In [24]:
our_test_list=['Code', 'Favtutor', 'Machine Learning', 'Students', 'Studies', 'java', 'python']
our_test_list

['Code',
 'Favtutor',
 'Machine Learning',
 'Students',
 'Studies',
 'java',
 'python']

### <span style="color:red">Print the data type of the list above.

### <span style="color:red"> What data type are the __elements__ within the list?

### To access elements within a list, we use square brackets [ ] where inside the brackets we pass the index value of the location we want to read.

### <span style="color:red"> __Before__ you run the cell below, put a comment (`#`) next to each line predicting the elements you think the print statements will return based off of the description of indexing above. Were your predictions correct??

In [91]:
print(our_test_list[0])
print(our_test_list[1])

Code
Favtutor

### <span style="color:red"> __Based on your understanding from the activity above__, write code in cell below that would print out 'python' from our_test_list:

### In Python, one also has the option of "negative indexing". In this case, the [-1] index is __always__ the last element of the array. The image below shows our_test_list elements with the corresponding _index_ and _negative_ index underneath. The strong `'Machine Learning'` can be accessed either by the following:

In [29]:
our_test_list[2]
our_test_list[-5]

'Machine Learning'

![](https://favtutor.com/resources/images/uploads/mceu_51042390911678942910142.png)

### Another useful python method is the `len` method, which returns the __length__ of `list`, i.e., how many elements the list contains:

In [44]:
len(our_test_list)

7

### It is useful to remember that the __first__ element of a list is always indexed by [0] or [-len], and the __last__ element is always indexed by  [-1] or [len - 1]. <span style="color:red">Based on this fact, use the `len` method to return the first and last element of our_test_list:

In [37]:
# last element
our_test_list[len(our_test_list)-1]

# first element
our_test_list[-len(our_test_list)]

'Code'

### What if we want to pull out multiple elements within a list, i.e, a portion of the list? This is what we refer to as __slicing__ the list.

### Slicing a list takes on the following syntax in python:

> if `a` is a list, then `a[m:n]` will return a portion of `a` specified by `m:n`:
> * starting with index position `m`
> * and __up to but not including__ `n`

### Your head might be spinning, that is OK! Let's work through this with our example -- this is a __very important concept__ to grasp. Let's take another look at our_list_test and how it is indexed.

![](https://favtutor.com/resources/images/uploads/mceu_51042390911678942910142.png)

### Our syntax for slicing will be:
> `our_test_list[m:n]`, returning a portion of `our_test_list` specified by `m:n`:
> * starting with index position `m`
> * and __up to but not including__ `n`

### So if we want to extract the __first two__ indexes, we would do the following:

In [42]:
our_test_list[0:2]

['Code', 'Favtutor']

### <span style="color:red"> Pause and think this through. Why is 2 our second number in our code above and not 1? Talk to the person next to you and provide your answer as markdown below:

['Machine Learning', 'Students', 'Studies', 'java']

### <span style="color:red">What if we wanted to slice out 'machine learning' through 'java'? How would you do this? Do this two ways: first using __postive indexing__ and second using __negative indexing__. Work through it and provide your answer in the cell below as code:

In [47]:
our_test_list[2:6]
our_test_list[-5:-1]

['Machine Learning', 'Students', 'Studies', 'java']

### There are more sophisticated slicing methods, but you can save that for more advanced studies or your own work. For now, this is what you need to grasp.

### There are several useful methods we can apply to lists, a few examples are given below -- you are welcome to explore more on your own here: (provide link)

In [ ]:
### what else can we do with lists ???

In [ ]:
### dictionaries ....

In [ ]:
### arrays ......

In [ ]:
### NEXT NOTEBOOK WILL GO OVER FLOW CONTROL, FUNCTIONS ....

In [28]:
## Go through examples of each of these above.
## How do Pandas dataframes, xarray dataarrays, datasets, numpby ndarrays fit into this?? -- Explain & show.
## Do I want to go into loops, if, else statements etc ???
## functions ...
## Add some exploratory activity here at the end (give students 10 - 15 minutes, followed by brief discussion).
## Idea ... create program (create a new cleaned up notebook based off of this one following best practices) 
## that converts degrees C into Kelvin if user provides C.
## Students have to push their new notebook to GithHub ....
## Important numpy functions for datascience https://thecleverprogrammer.com/2021/08/28/important-numpy-functions-for-data-science/

--- end with saving and shutting down the notebook --- see here: https://foundations.projectpythia.org/foundations/jupyterlab.html

In [ ]:
## Next notebook .... types of data one would encounter in climate science (.txt, .csv, .json, etc). 
## Pandas ....